*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  direction: rtl;
}

a{
  text-decoration: none;
}

.primary-btn{
  background-color:rgb(9, 108, 255);
  color: white;
  padding: .5em 1em;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color .2s;
}

.primary-btn:hover{
  cursor: pointer;
  background-color: rgb(6, 98, 236);
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-top{
  margin-block-start: 102px;
}

form{
  width: 100%;
  max-width: 400px;
  background-color: rgb(239, 239, 239);
  border-radius: 15px;
  padding: 1.5em;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: .7em;

  & input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: .5em;
    border: none;
  }
  & button{
    all: unset;
    width: 100%;
    height: 60px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  & a{
    align-self: start;
    padding-inline-start: .5em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }

  & label,
  & #prev-section{
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    cursor: pointer;
  }

  & #prev-section{
    display: none;
  }

  & label{
    display: flex;
    justify-content: center;
    align-items: center;
    & input{
      display: none;
    }
  }

  & .map-section{
    border-radius: 8px;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
}

/* HOME PAGE */
header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  z-index: 2;
  background-color: rgb(241, 241, 241);

}
header nav{
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
  margin-inline: auto;

  a{
    color: rgb(9, 108, 255);
    font-weight: bold;
  }
}

main #map{
  width: 35%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: grey;
}

#rooms-list{
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  overflow-y: scroll;
  padding: 2em;
}
/* 
main #map,
main #rooms-list{
  margin-block-start: 102px;
} */

#rooms-list>div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 1em;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  border-radius: 24px;
  background-color: rgb(244, 244, 244);
  border: 1px solid grey;
}
.card{
  width: 100%;
  padding:  .1em;

  img{
    width: 100%;
    border-radius: 18px;
  }
}